.map_wrap {
  position: absolute;
  z-index: 200;
  width: 1000px;
  height: 564px;
  top: 50px;
  background-color: hsla(0, 0%, 10%, 0.6);
  display: none;
}


.map_contents {
  background: url(../img/map/map_bg.png);
  position: relative;
  width: 899px;
  height: 486px;
  margin: 0 auto;
  top: 44px;
}
.map_close {
  background: url(../img/map/map_close.png);
  position: absolute;
  width: 39px;
  height: 36px;
  border: 0px;
  top: 7px;
  right: 11px;
  cursor: pointer;
}
.map_middle {
  position: relative;
  width: 861px;
  height: 321px;
  margin: 0 auto;
  top: 118px;
  background: #fff;
}

.map_middle_section {
  width: 430px;
  height: 321px;
  float: left;
}

.map_part {
  font-family: kopub_dotum_medium;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  color: #000;
  margin-bottom: -1px;
  font-size: 21px;
  position: relative;
  width: 100%;
  line-height: 41px;
  vertical-align: middle;
}
.map_part.toggle{
  background-color: #28839a;
  color: #fff;
}
.map_part_num {
  position: relative;
  width: 40px;
  height: 39px;
  background-color: #dcebee;
  padding: 9px;
}
.map_part_num.toggle{
  background-color: #28839a;
  color: #fff;
}
.map_part_num.toggle::after{
  content: "│";
  position: absolute;
  right: -8px;
}

.map_part_text {
  width: 390px;
  margin-left: 5px;
}
