.menu{
  position: absolute;
  background: url(../img/control/menu.png) no-repeat;
  width: 39px;
  height: 116px;
  z-index: 101;
  border: 0;
  top:167px;
  cursor: pointer;
}

.indexMenu {
  position: absolute;
  z-index: 300;
  left:-255px;
  top: 0px;
  background: url(../img/control/menu_bar.png) no-repeat;
  background-size: 100% 100%;
  width: 236px;
  height: 614px;
  transition-duration: 0.4s;
  z-index: 230;
  display: none;
}

.indexMenu > .closeMenu {
  position: absolute;
  z-index: 301;
  top: 10px;
  right: 1px;
  background: url(../img/control/menu_close.png) no-repeat;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  border: 0px;
  cursor: pointer;
}

.indexMenu > .indexList{
  position: relative;
  top: 42px;
}


.indexMenu > .indexList > .menuLine {
  background: none;
  background-size: 100% 100%;
  width: 100%;
  height: 10px;
  margin: 20px 0px;

}

.indexMenu > .indexList > .mainTitle {
  color: #ffffff;
  font-size: 22px;
  border: 0px;
  text-align: left;
  background-color: hsla(0, 10%, 10%, 0);
  margin-left: 20px;
  font-family: nanum_square;
  cursor: pointer;
  margin-top: 25px;
}


.indexMenu > .indexList > .subTitle {
  color: #ffffff;
  font-size: 1.0em;
  margin-left: 35px;
  margin-top: 15px;
  font-weight: 300;
  border: 0px;
  text-align: left;
  background-color: hsla(0, 10%, 10%, 0);
  letter-spacing: -1px;
  font-family: nanum_barun_gothic_light;
  cursor: pointer;
}

.indexMenu > .indexList > .mainTitle.toggle {
  color: #f9a00a;
}
.indexMenu > .indexList > .subTitle.toggle {
  color: #f9a00a;
}

.indexMenu > .indexList > .subTitle:hover {
  color: #f9a00a;
}
